# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
/design/
/backup/
/ektaco/
/dist/vqmod/install
/dist/vqmod/logs
/dist/vqmod/vqcache
/dist/vqmod/.htaccess
/dist/vqmod/checked.cache
/dist/vqmod/vqmod.php
/dist/vqmod/readme.txt
/dist/vqmod/mods.cache
/dist/vqmod/pathReplaces.php
