@font-face {
	font-family: 'Wagner Grotesk Pro';
	src: url('../fonts/wagner-grotesk-pro');
	src: local('☺'), url('../fonts/wagner-grotesk-pro.woff') format('woff'), url('../fonts/wagner-grotesk-pro.ttf') format('truetype'), url('../fonts/wagner-grotesk-pro.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
